.header{
    padding: 1em;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.logo{
    font-size: 1.1em;
    color: #1e293f;
    font-weight: bold;
    cursor: pointer;
}
.navLink{
    font-size: 1em;
    font-weight: 400;
    color: #6b7280;
    transition: 0.3s ease-in-out;
}

.navLink:hover{
    color: #334155;
}

.navActive{
    color: #f87171 !important;
}