.home {
    padding: 3em 0px;
}

.header h1 {
    font-size: 1.5em;
    color: #333;
    letter-spacing: 3px;
}

.control {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.form input {
    width: 100%;
    border: none;
    outline: none;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

.form svg {
    cursor: pointer;
}

.uploadArea {
    composes: uploadArea model from '../app/components/editProfile/style.module.css'
}

.wrapperUpload {
    composes: wrapperUpload model from '../app/components/editProfile/style.module.css'
}

.btnGrp {
    display: flex;
    align-items: center;
    gap: 1em;
}

.btnGrp button {
    border: none;
    outline: none;
    background-color: transparent;
    outline: 2px solid #94a3b8;
    padding: 0.5em 1.5em;
    cursor: pointer;
    border-radius: 3px;
}

.collection{
    background-color:#e2e7ec;
    padding: 1em;
    margin-top: 2em;
}

.allCollection{
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}